.firstPanel{
    background-image: url("backPanel.jpg");
    background-size: cover;   
}
.titleText{
    width:40vw;
    height: 120px;
    font-size: 50px;
    color: white;
    position: absolute;
    top: 30%;
    left: 150px;
    font-weight: 600;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    position:absolute;
    -webkit-animation: anim 0.4s ;
    animation: anim 0.4s ;
    -webkit-animation-timing-function: linear; /* Chrome, Safari, Opera */
    animation-timing-function: linear;

}
@-webkit-keyframes anim {
    from {
        transform: translateX(20%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes anim {
   from {
         transform: translateX(20%);
   }
   to {
       transform: translateX(0);
   }
}

